.container{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    padding: 20px;
}

.button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 0.5em;
    border: 0;
    box-shadow: 1px 1px 3px cornflowerblue;
    
}

.dropdown{
    padding: 10px;
    border-radius: 5px;
}

.heading{

    margin:auto;
    text-align: center;
    padding: 20px;
    font-size: 1.2em;

}