.container{
    
    display:flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 70%;
}

.games{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 5px;
    padding: 10px;

}

.individualGames{

    font-size: 1.2em;;

}

.button{

    padding: 10px;
    border-radius: 0.5em;
    border: 0;
    box-shadow: 1px 1px 3px cornflowerblue;
}

.button:hover{
    cursor: pointer;

}

.gameCount{
    text-align: center;
    font-size: 1.2em;
}