.board{
    background-color: #f7f8f8;
    flex-direction: column;
    align-items: center;
    row-gap: 0.2em;
    width: fit-content;
    margin: auto;
    padding: 1em;
    display: flex;
}

.row{
    display:flex;
    column-gap: 0.2em;
}

.empty{
    background-color: #ededed;
    border-radius: 1em;
    width: 2em;
    height: 2em;
}

.options{
    text-align: left;
    box-sizing: border-box;
    width: 585px;
    margin: 2em auto;
    padding: 2em;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
}

.game-info{
    margin:auto;
    text-align: center;
}

